*, *::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    overflow: visible
}
main{
    margin: 0 auto;
    max-width: 800px;
}
.input-color{
    display:grid;
    padding: 10px;
}
.input-color input, select, button{
    margin-bottom: 8px;
}
.btn-color{
    cursor: pointer;
    background-color: whitesmoke;
    font-family: inherit;
    font-size: 0.7rem;
    border: 0.4px solid #88898a;
    border-radius: 5px;
    color: #6aa9a3;
    text-shadow: 0 0 0.5px black;
    padding: 10px;
}
.btn-color:hover{
    background-image: linear-gradient(#D1D5DB, #abaeb2);
    
}
input[type="color"]{
  width: 100%;
  appearance: none;
  background-color: #abaeb2;
  border:0;
  cursor: pointer;
  border-radius: 3px;
  height: 35px;
}
.color-box{
    display:flex;
    margin: auto;
    padding: 0 10px;
}
.color-box div{
    width: 100%;
    height: 65vh;
    cursor: pointer;
}
.color-box div:hover{
    box-shadow: 2px 2px 10px black;
}
.modes{
    width: 100%;
    padding: 10px;
    font-size: 0.7rem;
    border: 0.4px solid #88898a;
    border-radius: 5px;
    color: #6aa9a3;
    text-shadow: 0 0 0.5px black;
    background-color: #D1D5DB;
}
.modes:focus{
    background-color: #d5d9db;
}
option{
    color: #70B0F0;
}
p{
    padding: 5px 0;
    margin: 10px 0;
    font-size: 0.9rem;
    color: #2B283A;
    text-align: center;
    cursor: pointer;
}
p:hover{
    color:rgb(24, 130, 95);
    text-shadow: 0 0 0.5px black;
    box-shadow: 1px 1px 5px black;
    background: azure;
}

@media(min-width: 600px){
    .modes{
        width: 65%
    }
    .input-color{
        display: flex;
        justify-content: space-between;
    }
    input[type="color"]{
        width: 70px;
    }
    .modes{
        width: 70%;
    }
    .color-box div{
        height: 80vh;
    }
}