*, *::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    overflow: visible
}
main{
    margin: 0 auto;
    max-width: 800px;
}
.input-color{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.btn-color{
    cursor: pointer;
    background-color: whitesmoke;
    font-family: inherit;
    font-size: 0.7rem;
    border: 0.4px solid #88898a;
    border-radius: 5px;
    color: #6aa9a3;
    text-shadow: 0 0 0.5px black;
}
.btn-color:hover{
    background-image: linear-gradient(#D1D5DB, #abaeb2);
}
input[type="color"]{
  appearance: none;
  background-color: #abaeb2;
  border:0;
  cursor: pointer;
  border-radius: 3px;
}
.color-box{
    display:flex;
    margin: auto;
    padding: 0 10px;
}
.color-box div{
    width: 100%;
    height: 80vh;
}
.modes{
    width: 50%;
    font-size: 0.7rem;
    border: 0.4px solid #88898a;
    border-radius: 5px;
    color: #6aa9a3;
    text-shadow: 0 0 0.5px black;
    background-color: #D1D5DB;
}
.modes:focus{
    background-color: #d5d9db;
}
option{
    color: #70B0F0;
}
p{
    margin: 10px 0;
    font-size: 0.9rem;
    color: #2B283A;
    text-align: center;
    cursor: pointer;
}

@media(min-width: 600px){
    .modes{
        width: 65%
    }
}